#rust things
target/
docs/book/


# macos, why
.DS_Store

# no secrets for you
.env
.envrc

# coverage things
*.profraw
tarpaulin-report.html
config.json
maremma.json
maremma.sqlite
*.sqlite.backup

# ignore all the other plugins files
plugins/*

# config files
*.json
!maremma.example.json
!maremma.schema.json

# IDE
.vscode/settings.json