{% extends "base_template.html" %}

{% block content %}

<form method="get">
    <input type="text" name="search" placeholder="Search"
        value="{{search_string}}" />
    <input type="submit" value="Search" />
</form>

<table class="checktable">
    <thead>
        <th>
            <a
                href="?ord={{crate::web::views::prelude::Order::Asc}}&field={{OrderFields::Host}}&search={{search_string}}">Host
                &nbsp;&nbsp;⬆️</a>&nbsp;
            <a
                href="?ord={{crate::web::views::prelude::Order::Desc}}&field={{OrderFields::Host}}&search={{search_string}}">⬇️</a>
        </th>
    </thead>
    {% for host in hosts %}
    <tr>
        <td><a
                href="{{Urls::Host}}/{{host.id}}">{{host.name}}</a></td>
    </tr>

    {% endfor %}
</table>

{% endblock content %}
