{% extends "base_template.html" %}

{% block content %}

{% if let Some(message) = message %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% endif %}

<h1>Host Group: {{host_group.name}}</h1>

<h3>Hosts</h3>

<table class="checktable">
    <thead>
        <th>
            <a href="?ord={{crate::web::views::prelude::Order::Asc}}">Hostname
                &nbsp;&nbsp;⬆️</a>&nbsp;
            <a href="?ord={{crate::web::views::prelude::Order::Desc}}">⬇️</a>
        </th>
        <th>&nbsp;</th>
    </thead>
    {% for member in members %}
    <tr>
        <td><a href="/host/{{member.id}}">{{member.name}}</a></td>
        <td><form method="post"
                action="/host_group/{{host_group.id}}/member/{{member.id}}/delete"><input
                    type="submit" value="Remove Member" /></form></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
