{% extends "base_template.html" %}

{% block content %}

{% if let Some(message) = message %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% endif %}

<script type="text/javascript">
confirmForm('deleteCheck{{host_group.id}}', "Are you sure you want to delete this check?")
</script>
<div style="float:right;">
    <form
        action="/host_group/{{host_group.id}}/delete"
        id="deleteCheck{{host_group.id}}"
        method="post" class="buttonform">
        <input type="submit" class="btn btn-warning"
            value="Delete This" />
        <input type="hidden" name="redirect_to"
            value="/host_groups" />
    </form></div>

<h1>Host Group: {{host_group.name}}</h1>

<h3>Hosts</h3>

<table class="checktable">
    <thead>
        <th>
            <a href="?ord={{crate::web::views::prelude::Order::Asc}}">Hostname
                &nbsp;&nbsp;⬆️</a>&nbsp;
            <a href="?ord={{crate::web::views::prelude::Order::Desc}}">⬇️</a>
        </th>
        <th>&nbsp;</th>
    </thead>
    {% for member in members %}
    <tr>
        <td><a href="/host/{{member.id}}">{{member.name}}</a></td>
        <td><form method="post"
                action="/host_group/{{host_group.id}}/member/{{member.id}}/delete"><input
                    type="submit" value="Remove Member" /></form></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
