{% extends "base_template.html" %}

{% block content %}

<p>hostname: {{hostname}}</p>
<!-- <p>host_id: {{host_id}}</p> -->
<p>host check: {{check}}</p>
<p>host_groups: {% for host_group in host_groups %}{{host_group }} {% endfor
    %}</p>

<table class="checktable">
    <thead>
        <th>Service</th>
        <th>Status</th>
        <th>Last Check</th>
    </thead>
    {% for check in checks %}
    <tr>
        <td><a
                href="/service/{{check.service_check_id}}">{{check.service_name}}</a></td>
        <td>{{check.status}}</td>
        <td>{{check.last_check}}</td>
    </tr>

    {% endfor %}
</table>

{% endblock content %}
