{% extends "base_template.html" %}

{% block header %}
<meta http-equiv="refresh" content="{{ page_refresh }}">
{% endblock %}

{% block content %}

<p>Welcome!</p>

There are: {{ num_checks }} service checks enabled.

<table class="checktable">
    <thead>
        <tr>
            <th>Host</th>
            <th>Service</th>
            <th>Status</th>
            <th>Last Check</th>
        </tr>
    </thead>
    {% for check in checks %}
    <tr>
        <td><a href="/host/{{check.host_id}}">{{check.host_name}}</a></td>
        <td><a
                href="/service_check/{{check.service_check_id}}">{{check.service_name}}</a></td>
        <td>{{check.status}}</td>
        <td>{{check.last_check}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
