{% extends "base_template.html" %}

{% block header %}
<meta http-equiv="refresh" content="{{ page_refresh }}">
{% endblock %}

{% block content %}
<script>
  resetSearch("searchForm", "search");
</script>

<form method="get" class="form-inline" id="searchForm">  <div class="input-group mb-2 mr-sm-2">

  <input type="text" id="search" name="search" placeholder="Search" value="{{ search }}"  class="form-control mb-2 mr-sm-2" />
  <input type="hidden" value="{{ ord }}" name="ord" />
  <input type="hidden" value="{{ field }}" name="field" />
  <input type="submit" value="Submit"  class="btn btn-primary mb-2"/>
  <input type="reset" value="Reset"  class="btn btn-secondary mb-2"/>
  </div>
</form>
<table class="checktable">
  <thead>
    <tr>
      <th>
        <a
          href="/?ord={{crate::web::views::prelude::Order::Asc}}&field=host">Host
          &nbsp;&nbsp;⬆️</a>&nbsp;
        <a
          href="/?ord={{crate::web::views::prelude::Order::Desc}}&field=host">⬇️</a>
      </th>
      <th>
        <a
          href="/?ord={{crate::web::views::prelude::Order::Asc}}&field=host">Service
          Check&nbsp;&nbsp;⬆️</a>&nbsp;
        <a
          href="/?ord={{crate::web::views::prelude::Order::Desc}}&field=host">⬇️</a>
      </th>
      <th>
        <a
          href="/?ord={{crate::web::views::prelude::Order::Asc}}&field=status">Status&nbsp;&nbsp;⬆️</a>&nbsp;
        <a
          href="/?ord={{crate::web::views::prelude::Order::Desc}}&field=status">⬇️</a>
      </th>
      <th>
        <a
          href="/?ord={{crate::web::views::prelude::Order::Asc}}&field=lastupdated">Last
          Check&nbsp;&nbsp;⬆️</a>&nbsp;
        <a
          href="/?ord={{crate::web::views::prelude::Order::Desc}}&field=lastupdated">⬇️</a>
      </th>
      <th>
        <a
          href="/?ord={{crate::web::views::prelude::Order::Asc}}&field=nextcheck">Next
          Check&nbsp;&nbsp;⬆️</a>&nbsp;
        <a
          href="/?ord={{crate::web::views::prelude::Order::Desc}}&field=nextcheck">⬇️</a>
      </th>
    </tr>
  </thead>
  {% for check in checks %}
  <tr>
    <td>
      <a href="/host/{{check.host_id}}">{{check.host_name}}</a>
    </td>
    <td>
      <a
        href="/service_check/{{check.id}}">{{check.service_name}}</a>
    </td>
    <td
      class="bg-{{check.status.as_html_class_background()}} text-{{check.status.as_html_class_text()}}"">
      {{check.status}}
    </td>
    <td>{{check.last_check.format("%Y-%m-%d %H:%M:%S")}}</td>
    <td>{{check.next_check.format("%Y-%m-%d %H:%M:%S")}}</td>
  </tr>
  {% endfor %}
</table>
There are {{ num_checks }} service checks enabled.
{% endblock content %}
