<style type="text/css">
    body {
        padding: 0;
        margin: 0;
    }
    header {
        padding: 0.5em
    }

    main {
        display: block;
        padding: 1.0em;
        padding-bottom: 2.0em;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
    }

    footer {
        display: block;
        text-align: right;
        padding: 1.0em;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        color: white;
        background-color: rgb(55, 0, 97);
    }
    footer a {
        font-weight: bold;
        color: white;
    }
    footer a:hover {
        font-weight: bold;
        color: darkgray;
    }

    ul.nav {
        list-style-type: none;
        padding: 0.5em;
        margin: 0;
        border: 1px solid darkmagenta;
    }

    ul.nav li {
        display: inline;
        padding: 0;
        margin: 0.5em;;
    }

    table.checktable {
        border-collapse: collapse;
        width: 100%;
        margin: 0.1em;
        border: darkgrey 1px solid;
    }
    table.checktable thead {
        border-bottom: 1px solid black;
    }
    table.checktable td {
        border: 0;
        padding: 0.2em;
    }

</style>