
<table width="100%">
    <thead>
        <tr>
            <th><a
                    href="/?ord={{crate::web::views::prelude::Order::Asc}}&field=host">Hostname
                    🔼</a> /
                <a
                    href="/?ord={{crate::web::views::prelude::Order::Desc}}&field=host">🔽</a></th>
            <th><a
                    href="/?ord={{crate::web::views::prelude::Order::Desc}}&field=check">Check
                    🔽</a> /
                <a
                    href="/?ord={{crate::web::views::prelude::Order::Asc}}&field=check">🔼</a></th>
            <th><a
                    href="/?ord={{crate::web::views::prelude::Order::Asc}}&field=status">Status
                    🔼</a> /
                <a
                    href="/?ord={{crate::web::views::prelude::Order::Desc}}&field=status">🔽</a></th>
            <th><a
                    href="/?ord={{crate::web::views::prelude::Order::Asc}}&field=lastupdated">Last
                    Updated 🔼</a> /
                <a
                    href="/?ord={{crate::web::views::prelude::Order::Desc}}&field=lastupdated">🔽</a></th>
        </tr>
    </thead>
    {% for check in checks %}
    <tr>
        <td><a href="/host/{{check.host_id}}">{{ check.hostname }}</a></td>
        <td>{{ check.name }}</td>
        <td>{{ check.status }}</td>
        <td>{{ check.last_updated }}</td>
    </tr>
    {% endfor %}
</table>