---
name: Clippy

# Trigger the workflow on push or pull request
"on":
  push:
    paths-ignore:
      - docs/**
      - static/**
      - plugins/**

env:
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: "Run clippy"
        run: cargo clippy
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: "Run fmt"
        run: cargo fmt
